.special, .special-content {
    display: flex;
    height: auto;
    justify-content: center;
}
.special {
    margin-top: 6em;
    width: 100%;
}
.special-content{
    flex-wrap: wrap;
}
.special #btn {
    margin-top: 2em;
}
#btn {
    background-color: #f4ce14;
    border: none;
    border-radius: 2em;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    color: #000;
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 3em;
    width: 12em;
}
#heading{
    font-family: Markazi Text,serif;
    color: #f4ce14;
    font-size: 50px;
    font-weight: 700;
    margin-right:6em
}